action-msgs==1.2.1
action-tutorials-interfaces==0.20.3
action-tutorials-py==0.20.3
actionlib-msgs==4.2.3
addict==2.4.0
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==5.0.1
ament-cmake-test==1.3.5
ament-copyright==0.12.7
ament-cppcheck==0.12.7
ament-cpplint==0.12.7
ament-flake8==0.12.7
ament-index-python==1.4.0
ament-lint==0.12.7
ament-lint-cmake==0.12.7
ament-package==0.14.0
ament-pep257==0.12.7
ament-uncrustify==0.12.7
ament-xmllint==0.12.7
angles==1.15.0
annotated-types==0.5.0
anyio==3.7.1
appdirs==1.4.4
apturl==0.5.2
argcomplete==1.8.1
async-timeout==4.0.2
attrs==23.1.0
Automat==20.2.0
Babel==2.8.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
beniget==0.4.1
blinker==1.4
bloom==0.11.2
bond==3.0.2
Bottleneck==1.3.2
breezy==3.2.1
Brlapi==0.8.3
Brotli==1.0.9
builtin-interfaces==1.2.1
catkin-pkg==0.5.2
catkin-pkg-modules==0.5.2
certifi==2020.6.20
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.2.0
click==8.0.3
cmake==3.26.4
colcon-argcomplete==0.3.3
colcon-bash==0.4.2
colcon-cd==0.1.1
colcon-cmake==0.2.27
colcon-common-extensions==0.3.0
colcon-core==0.12.1
colcon-defaults==0.2.8
colcon-devtools==0.2.3
colcon-installed-package-information==0.1.0
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-notification==0.2.15
colcon-output==0.2.13
colcon-override-check==0.0.1
colcon-package-information==0.3.3
colcon-package-selection==0.2.10
colcon-parallel-executor==0.2.4
colcon-pkg-config==0.1.0
colcon-powershell==0.3.7
colcon-python-setup-py==0.2.8
colcon-recursive-crawl==0.2.1
colcon-ros==0.3.23
colcon-test-result==0.3.8
colcon-zsh==0.4.0
colorama==0.4.4
coloredlogs==15.0.1
command-not-found==0.3
composition-interfaces==1.2.1
configobj==5.0.6
constantly==15.1.0
control-msgs==4.4.0
cov-core==1.15.0
coverage==6.2
cryptography==41.0.2
cupshelpers==1.0
cv-bridge==3.2.1
cycler==0.11.0
datumaro==1.3.2
dbus-python==1.2.18
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
demo-nodes-py==0.20.3
Deprecated==1.2.13
diagnostic-aggregator==3.1.2
diagnostic-msgs==4.2.3
diagnostic-updater==3.1.2
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.1
docutils==0.17.1
domain-coordinator==0.10.0
dulwich==0.20.31
duplicity==0.8.21
empy==3.3.4
environs==9.5.0
et-xmlfile==1.0.1
example-interfaces==0.9.3
examples-rclpy-executors==0.15.1
examples-rclpy-minimal-action-client==0.15.1
examples-rclpy-minimal-action-server==0.15.1
examples-rclpy-minimal-client==0.15.1
examples-rclpy-minimal-publisher==0.15.1
examples-rclpy-minimal-service==0.15.1
examples-rclpy-minimal-subscriber==0.15.1
exceptiongroup==1.1.2
fastapi==0.100.0
fastbencode==0.0.5
fasteners==0.14.1
fastimport==0.9.14
ffmpy==0.3.1
filelock==3.12.2
flake8==4.0.1
Flask==2.0.1
flatbuffers==23.5.26
fonttools==4.29.1
frozenlist==1.4.0
fs==2.4.12
fsspec==2023.6.0
future==0.18.2
gast==0.5.2
generate-parameter-library-py==0.3.6
geographic-msgs==1.0.5
geometry-msgs==4.2.3
gpg==1.16.0
gps-msgs==2.0.2
gradio==3.37.0
gradio_client==0.2.10
grid-map-msgs==2.0.0
h11==0.14.0
h5py==3.9.0
html5lib==1.1
httpcore==0.17.3
httplib2==0.20.2
httpx==0.24.1
huggingface-hub==0.16.4
humanfriendly==10.0
hyperlink==21.0.0
idna==3.3
ijson==3.2.3
image-geometry==3.2.1
imageio==2.31.1
importlib-metadata==6.8.0
incremental==21.3.0
iniconfig==1.1.1
interactive-markers==2.3.2
itsdangerous==2.1.0
jdcal==1.0
jeepney==0.7.1
Jinja2==3.0.3
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
jsonschema==4.18.4
jsonschema-specifications==2023.7.1
keyring==23.5.0
kiwisolver==1.3.2
language-selector==0.1
lark==1.1.1
laser-geometry==2.4.0
launch==1.0.4
launch-ros==0.19.5
launch-testing==1.0.4
launch-testing-ros==0.19.5
launch-xml==1.0.4
launch-yaml==1.0.4
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.3
lgsvl-msgs==0.0.4
lifecycle-msgs==1.2.1
linkify-it-py==2.0.2
lit==16.0.6
llvmlite==0.38.0
lockfile==0.12.2
logging-demo==0.20.3
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
map-msgs==2.1.0
markdown-it-py==2.2.0
MarkupSafe==2.0.1
marshmallow==3.19.0
matplotlib==3.5.1
mavros-msgs==2.5.0
mccabe==0.6.1
mdit-py-plugins==0.3.3
mdurl==0.1.2
mercurial==6.1.1
message-filters==4.3.3
monotonic==1.6
more-itertools==8.10.0
mpi4py==3.1.3
mpmath==0.0.0
multidict==6.0.4
nav-msgs==4.2.3
nav2-common==1.1.9
nav2-msgs==1.1.9
netifaces==0.11.0
networkx==3.1
nibabel==5.1.0
nmea-msgs==2.0.0
nose2==0.9.2
notify2==0.3
novatel-oem7-driver==20.1.0
novatel-oem7-msgs==20.1.0
ntrip-client==1.2.0
numba==0.55.1
numexpr==2.8.1
numpy==1.23.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.0
odfpy==1.4.2
olefile==0.46
onnx==1.14.0
onnxruntime==1.15.1
opencv-contrib-python==4.8.0.74
opencv-python==4.7.0.72
openpyxl==3.0.9
openvino==2022.3.0
orjson==3.9.2
osrf-pycommon==2.0.2
packaging==21.3
pandas==1.3.5
paramiko==2.9.3
patiencediff==0.2.1
pcl-msgs==1.0.0
pendulum-msgs==0.20.3
pexpect==4.8.0
Pillow==10.0.0
platformdirs==3.8.1
pluggy==0.13.0
ply==3.11
protobuf==4.23.3
psutil==5.9.0
ptyprocess==0.7.0
py==1.10.0
pyarrow==12.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.20.1
pycocotools==2.0.6
pycodestyle==2.8.0
pycparser==2.21
pycups==2.0.1
pydantic==2.0.3
pydantic_core==2.3.0
pydocstyle==6.1.1
pydot==1.4.2
pydub==0.25.1
pyemd==1.0.0
pyflakes==2.4.0
PyGithub==1.55
Pygments==2.11.2
PyGObject==3.42.1
PyHamcrest==2.0.2
pyinotify==0.9.6
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyRFC3339==1.1
pytest==6.2.5
pytest-cov==3.0.0
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.1
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.0
python-gitlab==2.10.1
python-multipart==0.0.6
python-qt-binding==1.1.1
pythran==0.10.0
pytz==2022.1
PyWavelets==1.4.1
pyxdg==0.27
PyYAML==5.4.1
qt-dotgraph==2.2.2
qt-gui==2.2.2
qt-gui-cpp==2.2.2
qt-gui-py-common==2.2.2
quality-of-service-demo-py==0.20.3
radar-msgs==0.2.1
rcl-interfaces==1.2.1
rclpy==3.3.9
rcutils==5.1.3
referencing==0.30.0
regex==2023.6.3
reportlab==3.6.8
requests==2.25.1
requests-toolbelt==0.9.1
resource-retriever==3.1.1
rmw-dds-common==1.6.0
robot-localization==3.5.1
roman==3.3
ros2action==0.18.7
ros2bag==0.15.7
ros2cli==0.18.7
ros2component==0.18.7
ros2doctor==0.18.7
ros2interface==0.18.7
ros2launch==0.19.5
ros2lifecycle==0.18.7
ros2multicast==0.18.7
ros2node==0.18.7
ros2param==0.18.7
ros2pkg==0.18.7
ros2run==0.18.7
ros2service==0.18.7
ros2test==0.4.0
ros2topic==0.18.7
rosapi==1.3.1
rosapi-msgs==1.3.1
rosbag2-interfaces==0.15.7
rosbag2-py==0.15.7
rosbags==0.9.15
rosbridge-library==1.3.1
rosbridge-msgs==1.3.1
rosbridge-server==1.3.1
rosdep==0.22.2
rosdep-modules==0.22.2
rosdistro==0.9.0
rosdistro-modules==0.9.0
rosgraph-msgs==1.2.1
rosidl-adapter==3.1.5
rosidl-cli==3.1.5
rosidl-cmake==3.1.5
rosidl-generator-c==3.1.5
rosidl-generator-cpp==3.1.5
rosidl-generator-py==0.14.4
rosidl-parser==3.1.5
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.1
rosidl-typesupport-cpp==2.0.1
rosidl-typesupport-fastrtps-c==2.2.1
rosidl-typesupport-fastrtps-cpp==2.2.1
rosidl-typesupport-introspection-c==3.1.5
rosidl-typesupport-introspection-cpp==3.1.5
rospkg==1.5.0
rospkg-modules==1.5.0
rpds-py==0.9.2
rpyutils==0.2.1
rqt-action==2.0.1
rqt-bag==1.1.4
rqt-bag-plugins==1.1.4
rqt-console==2.0.2
rqt-graph==1.3.0
rqt-gui==1.1.5
rqt-gui-py==1.1.5
rqt-msg==1.2.0
rqt-plot==1.1.2
rqt-publisher==1.5.0
rqt-py-common==1.1.5
rqt-py-console==1.0.2
rqt-reconfigure==1.1.1
rqt-robot-monitor==1.0.5
rqt-runtime-monitor==1.0.0
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
Rtree==0.9.7
ruamel.yaml==0.17.31
ruamel.yaml.clib==0.2.7
safetensors==0.3.1
scikit-image==0.21.0
scipy==1.8.0
screen-resolution-extra==0.0.0
SecretStorage==3.3.1
-e git+https://github.com/airacingtech/roar-seg-and-track-anything@ec44c6deb09727215687ff2c99cceb34e9a0bc33#egg=segment_anything&subdirectory=sam
semantic-version==2.10.0
sensor-msgs==4.2.3
sensor-msgs-py==4.2.3
service-identity==18.1.0
shape-msgs==4.2.3
shapely==2.0.1
simplejson==3.17.6
six==1.16.0
smclib==3.0.2
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.3.1
sros2==0.10.4
ssh-import-id==5.11
starlette==0.27.0
statistics-msgs==1.2.1
std-msgs==4.2.3
std-srvs==4.2.3
stereo-msgs==4.2.3
supervision==0.6.0
sympy==1.9
systemd-python==234
tables==3.7.0
teleop-twist-keyboard==2.3.2
tensorboardX==2.6.1
tf-transformations==1.0.0
tf2-geometry-msgs==0.25.3
tf2-kdl==0.25.3
tf2-msgs==0.25.3
tf2-py==0.25.3
tf2-ros-py==0.25.3
tf2-tools==0.25.3
tifffile==2023.7.10
timm==0.9.2
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
topic-monitor==0.20.3
topic-tools==1.0.0
topic-tools-interfaces==1.0.0
torch==2.0.1
torchvision==0.15.2
tornado==6.1
tqdm==4.65.0
trajectory-msgs==4.2.3
transformers==4.30.2
triton==2.0.0
turtle-tf2-py==0.3.6
turtlesim==1.4.2
Twisted==22.1.0
typeguard==2.2.2
typing_extensions==4.6.3
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
uc-micro-py==1.0.2
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
unique-identifier-msgs==2.2.1
urllib3==1.26.5
usb-creator==0.3.7
uvicorn==0.23.1
vcstool==0.3.0
vcstools==0.1.42
vision-msgs==4.1.0
visualization-msgs==4.2.3
wadllib==1.3.6
webencodings==0.5.1
websockets==11.0.3
Werkzeug==2.0.2
wrapt==1.13.3
xacro==2.0.8
xdg==5
xkit==0.0.0
xlwt==1.3.0
xmltodict==0.13.0
yapf==0.40.1
yarl==1.9.2
zipp==1.0.0
zope.interface==5.4.0
zstandard==0.21.0
